body {
	margin: 0 auto;
	box-sizing: border-box;
}

.side-bar {
	height: 100%;
	width: 13em;
	position: fixed;
	z-index: 1;
	top: 0;
	background-color: rgb(55, 126, 219);
	overflow-x: hidden;
}

.side-bar a,
.dashboard {
	padding: 10px 4px 5px;
	text-decoration: none;
	font-size: 22px;
	color: white;
	display: block;
}

.fa-laptop-code {
	margin-right: 0.5em;
}

.side-bar a:hover {
	color: lightgrey;
}

i {
	margin-right: 0.8em;
}
/* NEED TO GRID THIS FIRST BEFORE HEADER CAN BE APPLIED */
.header {
	/* display: grid;
	grid-area: 1 / 2 / 2 / -1; */
	border-bottom: 1px ridge gray;
}

.header,
.projects,
section {
	margin-top: 1em;
	margin-left: 13em;
	padding: 0.5em 1.5em;
}

.header .search {
	border-radius: 0.5em;
	border: none;
	width: 40%;
	background-color: lightgray;
	padding: 2px;
}

.header .fa-bell {
	margin-left: 50px;
}

/* .profile {
	display: flex;
	justify-content: center;
	align-items: center;
} */

img {
	border-radius: 50%;
	width: 3em;
}

button {
	border-radius: 1.1em;
	border: none;
	padding: 8px 20px 8px;
	margin: 0.3rem;
	background-color: rgb(55, 126, 219);
	color: white;
}
