body {
	margin: 0 auto;
	box-sizing: border-box;
}

.side-bar {
	height: 100%;
	width: 13em;
	position: fixed;
	z-index: 1;
	top: 0;
	background-color: rgb(55, 126, 219);
	overflow-x: hidden;
}

.side-bar a,
.dashboard {
	padding: 10px 4px 5px;
	text-decoration: none;
	font-size: 22px;
	color: white;
	display: block;
}

.fa-laptop-code {
	margin-right: 0.5em;
}

.side-bar a:hover {
	color: lightgrey;
}

i {
	margin-right: 0.8em;
	cursor: pointer;
}

.header {
	display: grid;
	grid-template-columns: 2fr auto;
	border-bottom: 1px ridge gray;
}

.header,
section {
	margin-top: 1em;
	margin-left: 13em;
	padding: 0.5em 1.5em;
}

.header .search {
	border-radius: 0.5em;
	border: none;
	width: 90%;
	background-color: lightgray;
	padding: 0.4em;
}

.header .fa-bell {
	margin-left: 50px;
}

.search-container {
	border: 1px solid purple;
	align-self: center;
}

.profile {
	display: flex;
	align-items: center;
	gap: 0.5em;
	border: 1px solid blue;
}

.welcome {
	display: grid;
	grid-template: 1fr 30% / auto 1fr;
	align-items: center;
	border: 1px solid red;
}

.buttons {
	border: 1px solid green;
	display: flex;
	align-items: center;
}

.buttons a {
	text-decoration: none;
	color: white;
}

.buttons a:hover {
	color: lightgrey;
}

img {
	border-radius: 50%;
	width: 3em;
}

button {
	border-radius: 1.1em;
	border: none;
	height: 2em;
	width: 6em;
	margin: 0.4em;
	background-color: rgb(55, 126, 219);
	color: white;
}

.main-content {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 2rem 2rem;
	border: 3px solid purple;
	background-color: rgba(35, 104, 146, 0.356);
}

.projects {
	display: grid;
	grid-template: auto auto auto / 1fr 1fr;
	border: 3px solid red;
	gap: 1rem 1rem;
}

.test-block h5 {
	margin: 0;
	font-size: 1.3rem;
}

.box {
	background-color: white;
	border-radius: 0.8em;
	display: grid;
	grid-template: 1fr auto / 2rem auto;
}

.color-accent {
	width: auto;
	grid-row: 1 / -1;
	border-radius: 0.8em 0 0 0.8em;
	padding: 1em;
	background-color: rgb(55, 126, 219);
}

.test-block {
	padding: 1em;
}

.test-block > p {
	font-size: 1.3em;
}

.icon-block {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 1em;
	gap: 0.5em;
	padding: 1.3em;
}

.side-content {
	border: 1px solid white;
	display: grid;
	grid-template-rows: auto 1fr auto 1fr;
	gap: 0.3em;
}

.side-content > h4 {
	margin: 0;
	margin-bottom: 0.5em;
	border: 1px solid red;
	font-size: 1.3em;
}

.announcements,
.trending {
	border: 1px solid black;
	background-color: white;
	border-radius: 0.5em;
	display: flex;
	justify-content: space-around;
	flex: 1;
	/* font-size: 1.3em; */
}

.an-board {
	border: 1px solid green;
}
